.well
  PDF is a social tool for investors and professionals to find and share “highlighted” 
  %br
  property investments, specific ideas, techniques, market insight, and news in real-time; 
  %br
  all in one property deal flow.
  %br
  %br
  %br
  How:
  %br
  %ol
    %li Sign in with your Twitter account.
    %li 
      Share your real-estate idea, news, or property.
      %br
      Use % before any word to tag it for search.  Ex. (%office, %7cap, %mixuse)
      %br
      \-Tag Cities (%CA, %NY), Tag Asset Type (%multifamily, %retail)  
    %li Filter your searches by tags.

  Rules:
  %br
  %ol
    %li Add value in posting and linking. No spamming or un-professional behavior.
    %li Do not post when the implicit reasoning for posting is site, product, or service promotion.
    %li Shorten your URL's, and link directly to content, not the homepage of a site.
    %li Please don't consistently repeat yourself.
    %li PDF and moderators have full discretion of what content is acceptable to be displayed.

  Disclosure.  Property Deal Flow (PDF) does not guarantee the accuracy nor 
  %br
  endorse or support the content on this site.  All due diligence is the responsibility 
  %br
  of the respective parties.
  %br
  Use of this site is acceptance of our terms.
  %br
  %br
  
  About:
  %br
  PDF is about spotting specific real-estate investments, ideas, news and sharing them.  
  %br
  Please email us your questions and feedback @ #{mail_to "michael.liu332@gmail.com"}
  %br
  %br
  
  Startup based in San Francisco
  %br
  Founded by Michael Liu
  %br
  = link_to "http://about.me/liumichael", "http://about.me/liumichael"
  %br
  Linkedin: #{link_to "http://linkd.in/oK3KuL", "http://linkd.in/oK3KuL"}